<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1 class="display-5">Editing Project</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <%= render 'form', project: @project %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% if user_signed_in? %>
      <div class="col text-center">
        <div class="btn btn-secondary">
          <%= link_to 'Show', @project %>
        </div>
      </div>
    <% end %>
    <div class="col text-center">
      <div class="btn btn-secondary">
        <%= link_to 'Back', projects_path %>
      </div>
    </div>
  </div>
</div>
